@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #4a00ff;
  --toastify-color-success: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* calendar */
.fc .fc-button {
  @apply btn btn-primary text-white;
}
.fc .fc-button:disabled {
  @apply text-black;
}
.fc .fc-button:focus,
.fc .fc-event:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  @apply shadow-none;
}
.fc .fc-more-popover {
  @apply h-56;
}
.fc .fc-popover-body {
  @apply h-48 overflow-y-auto overflow-x-hidden;
}
.fc-daygrid-body.fc-daygrid-body-unbalanced,
.fc-scrollgrid-sync-table {
  @apply !w-full;
}
.fc-header-toolbar.fc-toolbar {
  @apply flex-wrap gap-2;
}
